/* .logo{
    font-size: 40px;
    font-weight: bold;
}
.menu a{
    padding: 10px 20px;
} */
.body{
    background-color:aliceblue;
}
.form-group{
    margin-bottom : 30px;
}
.form-group label{
    margin-bottom: 50px;
}